div {
  width: 300px;
  background-color: yellow;
  border: 2px solid black;
}
#myDiv1 {
  transform: rotateX(50deg);
}
#myDiv2 {
  transform: rotateX(150deg);
}
#myDiv3 {
  transform: rotateZ(90deg);
}